<% if comments %>
  <% comments.each do |comment| %>
    <li><%= comment.body %> - <%= comment.user.username %> -  <%= comment.created_at.strftime("%l:%M %p - %e, %b %Y") %></li>
  <% end %>
<% end %>
