<h1>Welcome to BomBoards!</h1>

<div>
  <% @games.each do |game| %>
    <p><%= game.name %>
    owned by<br>
      <% game.owners.each do |owner| %>
      <%= owner.username %><br>
      <% end %>      
    <br>
    Number of owners: <%= game.number_of_owners %>
    </p>

  <% end %>
</div>
