<h1>Welcome to BomBoards!</h1>

<div>
  <% sorted_games = @games.sort_by {|game| game.number_of_owners}.reverse %>
  <% sorted_games.each do |game| %>
    <p><strong><%= game.name %></strong>
    owned by<br>
    <% game.owners.each do |owner| %>
      <%= owner.username %><br>
    <% end %>
    </p>
  <% end %>
</div>
