/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.header{
	font-color: #333333;
	border-bottom: 3px solid;
	border-bottom-color: #004B9D;

}

.header-font{
	font-family: helvetica;
	font-color: #cccccc;
	font-size: 84px;
}

.register-font{
	font-family: helvetica;
	font-color: #cccccc;
	font-size: 14px;
	float: right;
}

.container{

	margin-left: 80px;
	margin-right: 80px;
	font-family: helvetica;
	background-color: #FAFAFA;
	max-width: 60%;
	margin: auto;


}

.section{
	float: left;
	margin: 0px 40px 0px 40px;
	
}

.headline{
	font-size: 18px;
}

.game-show-headline{
	font-size: 22px;
}

.detail{
	font-size: 14px;
}

.tag{
	background-color: #FFAAAA;
	font-size: 12px;
}

.page-wrapper{
	margin: 10px 10px 10px 10px;
	background-color: #FAFAFA;
	
}

a:link {
  color: black;
  background-color: transparent;
}

a:clicked {
	color: #00008B;
}