<div class='header'>
	<span class='header-font'><a href='/'><%= image_tag "/assets/bomb200.png" %></a>BomBoards!</span>

	<span class='register-font'><a href='/'>Login</a> | <A href='/'>Register</a> </span>
</div>
